#profile_details {
    margin-left: 75px;
}

#search_button {
    background-color: rgb(0, 204, 255);
    color: white;
    border: none;
    cursor: pointer;
}

#pop_up_search {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 40px;
    position: absolute;
}

.jumbotron_content {
    color: white;
}

.jumbotron{
    background-image: url("img/working.jpg");
    background-origin: border-box;
    background-size: auto 600px;
    background-repeat: no-repeat;  
}

#notif_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 40px;
    position: absolute;
}

#menu_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    position: absolute;
}

#edit_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    position: absolute;

}

#navbar_form {
    margin-left: 95px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 12px;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#close_nav_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: transparent;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nav_menu {
    height: 30px;
    padding-top: 7px;
    padding-left: 10px;
}

.icon_menu {
    width: 15px;
    margin-right: 10px;
}

#sign_out {
    color: red;
}

.image_content {
    width: 300px;
}


 #notif_button[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:0px;
    right:0px;
    font-size:.5em;
    background:red;
    color:white;
    width:15px;
    height:15px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
 }

 @media only screen and (max-width: 1200px) {
    #search {
        display: none;
    }

    #inlineFormInput {
        display: none;
    }

    #inlineFormCustomSelect {
        display: none;
    }

    .input-group-append {
        display: none;
    }

    #search_button {
        display: none;
    }

    #notif_button {
        right: 70px;
    }
 }

 @media only screen and (min-width: 1200px) {
     #pop_up_search {
         display: none;
         visibility: hidden;
     }   
 }